<div class="container-fluid">
    <div class="row">
        <div class="col">

            <h1 style="margin-top:50px; margin-left: 50px;"> Welcome to VIRTUALITY-</h1>
            <h5 style="margin-top:20px; margin-left: 80px;"> What's new here - </h5>
            <h2 style="margin-top:20px; margin-left: 80px;"> you pay for the topics you learn not the subject</h2>
            <h5 style="margin-top:20px; margin-left: 80px;"> For Whom - </h5>
            <h6 style="margin-top:20px; margin-left: 80px;"> Someone who can learn or teach or both</h6>
            <h6 style="margin-top:20px; margin-left: 80px;"> yes literally anybody</h6>
            <h3 style="margin-top:20px; margin-left: 80px;"> Note - Some can teach a topic better than a Suject</h3>
        </div>
        <div class="col">
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Create Account</h4>


                    <form #registrationForm='ngForm' (ngSubmit)="registrationForm.form.valid && register(registrationForm)">
                        
                        
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="username" class="form-control" placeholder="Username" type="text"
                                [(ngModel)]="registrationModel.username"
                                #username = "ngModel"
                                [ngClass] = "{ 'is-invalid': registrationForm.submitted && username.invalid }"
                                required >
                        </div> <!-- showing error to user// -->
                        <div *ngIf="registrationForm.submitted && username.invalid" class="warning form-group">
                            <div *ngIf="username.errors?.required"> Username is required</div>
                        </div>


                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="email" class="form-control" placeholder="Email address" type="email"
                                [(ngModel)]="registrationModel.email"
                                #email = "ngModel"
                                [ngClass] = "{'is-invalid': registrationForm.submitted && email.invalid}"
                                required email
                                >
                        </div>
                        <div *ngIf="registrationForm.submitted && email.invalid" class = "warning form-group">
                            <div *ngIf="email.errors?.required"> Email is required </div>
                            <div *ngIf="email.errors?.email"> Email is invalid </div>
                            
                        </div> 
                        
                        
                        
                        <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input name="password" class="form-control" placeholder="Create password" type="password"
                             [(ngModel)]="registrationModel.password"
                             #password = "ngModel"
                             [ngClass] = "{'is-invalid': registrationForm.submitted && password.invalid}"
                             required minlength="4">
                        </div>
                        <div *ngIf="registrationForm.submitted && password.invalid " class = "warning form-group">
                            <div *ngIf="password.errors?.required"> Password is required </div>
                            <div *ngIf="password.errors?.minlength"> Password must be of 4 characters</div>
                        </div>
                        
                        
                        
                        <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input name="rpassword" class="form-control" placeholder="Confirm password" type="password"
                                 [(ngModel)]="registrationModel.rpassword"
                                 #rpassword = "ngModel"
                                 [ngClass] = "{'is-invalid': registrationForm.submitted && rpassword.invalid}"
                                 required
                                 pattern="{{password.value}}"
                                 script = "">
                        </div> 
                        <div *ngIf="registrationForm.submitted && rpassword.invalid" class="form-group warning">
                            <div *ngIf="rpassword.errors?.required"> Please Confirm password </div>
                            <div *ngIf="rpassword.errors?.pattern"> Password do not match </div>    
                        </div>
                        
                        <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->
        </div>
    </div>
</div>