<nav class="navbar navbar-expand-sm  bg-color">
  <div class="container-fluid">
    <!-- Required - Virtuality Logo -->
    <div class="navbar-header">
      <a class="white-color" navbar-brand href="#"> Home </a>
    </div>
    <!-- only works when logged-in 
                condition is required-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Teach on Virtuality</a>
        </li>


      </ul>
      <div>
        <ul class="navbar-nav">

          <li style="margin-top:7px" class="nav-item">
            <!-- welcome user --> welcome User</li>
          <li style="margin-left:10px" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">settings</a>
              <a class="dropdown-item" href="#">purchaged history</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Username">
          <input class="form-control mr-sm-2" type="password" placeholder="password">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</nav>